<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Page</title>
</head>
<body>

<H1>Search for Music</H1>

//search input field
link to results.html

<form>
  <input type="text" name="search_on_youtube" placeholder="Search on Youtube">
    <button type="submit">Search</button>
</form>
<br>
<form>
  <input type="text" placeholder="Search on Spotify">
    <button type="submit">Search</button>
</form>

<!--<form action="/results/<user_input>" method="post">-->
                <!--<input type="text" name="search_on_youtube">  <br />-->
                <!--<input type="submit" name= "form" value="Submit" />-->
            <!--</form>-->

</body>
</html>